<style>
    :root {
        --bootstrap-icons-font: 'bootstrap-icons';
    }

    @font-face {
        font-display: block;
        font-family: 'bootstrap-icons';
        src: url("{{ '/assets/fonts/bootstrap-icons.woff2' | relative_url }}") format("woff2"),
        url("{{ '/assets/fonts/bootstrap-icons.woff' | relative_url }}") format("woff");
    }
    @font-face {
        font-family: 'proxima';
        src: url("{{ '/assets/fonts/proxima-nova/proximanova-bold-webfont.woff2' | relative_url }}") format('woff2'),
            url("{{ '/assets/fonts/proxima-nova/proximanova-bold-webfont.woff' | relative_url }}") format('woff');
        font-weight: bold;
        font-style: normal;

    }

    @font-face {
        font-family: 'proxima';
        src: url("{{ '/assets/fonts/proxima-nova/proximanova-boldit-webfont.woff2' | relative_url}}") format('woff2'),
            url("{{ '/assets/fonts/proxima-nova/proximanova-boldit-webfont.woff' | relative_url}}") format('woff');
        font-weight: bold;
        font-style: italic;

    }

    @font-face {
        font-family: 'proxima';
        src: url("{{ '/assets/fonts/proxima-nova/proximanova-regular-webfont.woff2' | relative_url}}") format('woff2'),
            url("{{ '/assets/fonts/proxima-nova/proximanova-regular-webfont.woff' | relative_url}}") format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'proxima';
        src: url("{{ '/assets/fonts/proxima-nova/proximanova-semiboldit-webfont.woff2' | relative_url}}") format('woff2'),
            url("{{ '/assets/fonts/proxima-nova/proximanova-semiboldit-webfont.woff' | relative_url}}") format('woff');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'proxima';
        src: url("{{ '/assets/fonts/proxima-nova/proximanova-semibold-webfont.woff2' | relative_url}}") format('woff2'),
            url("{{ '/assets/fonts/proxima-nova/proximanova-semibold-webfont.woff' | relative_url}}") format('woff');
        font-weight: 600;
        font-style: normal;
    }
</style>