body > header {
    position: relative;
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "c"
        "b"
    ;
    @media screen and (width > $tablet-breakpoint) {
        grid-template-columns: minmax(0, 25%) min(100%, 50rem) minmax(0, 1fr);
        grid-template-areas: 
            ". c ."
            "b b ."
        ;
    }

    @media screen and (width > $desktop-breakpoint) {
        grid-template-columns: minmax(0, calc((100vw - 50rem) / 2)) calc(50rem + var(--spacing)) minmax(0, 1fr);
        grid-template-areas: 
            ". c ."
            "b b ."
        ;
    }
    margin: 0 calc(var(--spacing) * -1);
    background-color: var(--main-color);
    color: var(--main-color-inverse);
    box-shadow: var(--box-shadow);
    text-align: center;
    > div {
        padding: var(--spacing-4) var(--spacing);
        grid-area: c;
    }
    h1 {
        margin: 0;
    }
    p {
        margin-top: var(--spacing-2);
        margin-bottom: 0;
        font-weight: 700;
    }
    a {
        color: var(--main-link-color);
    }

    > .banner {
        --banner-main-color: var(--main-color-banner);
        --banner-main-color-inverse: var(--main-color-banner-inverse);
        grid-area: b;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        padding: var(--spacing);
        margin-bottom: -2rem;
        background-color: var(--banner-main-color);
        color: var(--banner-main-color-inverse);
        box-shadow: var(--box-shadow);
        @media screen and (width > $tablet-breakpoint) {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
        font-weight: bold;
        transition: all var(--transition);
        .title {
            display: none;
            font-family: var(--heading-font-family);
            margin-left: var(--spacing-2);
        }
        .type {
            margin-left: auto;
        }
        &.fixed {
            --banner-main-color: var(--main-color-banner-inverse);
            --banner-main-color-inverse: var(--main-color-banner);
            position: fixed;
            top: 0;
            height: 3.5rem;
            border-radius: 0;
            z-index: 10;
            .title {
                display: block;
            }
            a {
                color: var(--banner-main-color-inverse);
            }
        }
        > svg.logo {
            align-self: stretch;
            .cls-3 {
                fill: var(--banner-main-color-inverse);
            }
        }
    }
}
