* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
    padding-left: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background: var(--gray-300);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--gray-700);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    @media screen and (width > $desktop-breakpoint) {
        font-size: 118.75%;
    }
}

body {
    display: grid;
    grid-template-areas:
        'h h h'
        '. m .'
        '. f .'
    ;
    grid-template-columns: minmax(0, 1fr) minmax(0, 70rem) minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--main-color-light);
    color: var(--dark);
    font-family: 'proxima', sans-serif;
    line-height: 1.5;
    padding: 0 var(--spacing);
    &.has-toc {
        @media screen and (width > $tablet-breakpoint) {
            grid-template-columns: minmax(0, 25%) min(100%, 50rem) minmax(0, 1fr);
            grid-template-areas:
                'h h h'
                'n m .'
                'n f .'
            ;
        }
    
        @media screen and (width > $desktop-breakpoint) {
            grid-template-columns: minmax(0, calc((100vw - 50rem) / 2)) 50rem minmax(0, 1fr);
            grid-template-areas:
                'h h h'
                'n m .'
                'n f .'
            ;
        }
    }
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--heading-font-family);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing);
}

*:focus-visible {
    outline: dashed var(--dark);
    outline-offset: 4px;
}


body> :is(nav, main) {
    margin-top: var(--spacing-10);
    line-height: 1.75;
}

body>main {
    grid-area: m;
    section {
        padding: var(--spacing-3);
        margin-top: var(--spacing-4);
        border-radius: var(--border-radius);
        &:not(:last-of-type) {
            margin-bottom: var(--spacing-8);
        }
        overflow: auto;
        h1,
        h2 {
            margin-top: 0;
        }
        &:not(.no-background) {
            background-color: var(--white);
            box-shadow: var(--box-shadow);
        }
        &.no-background {
            h1 {
                text-align: center;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: var(--border-radius);
        &.main-image {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
            object-position: top;
            margin-bottom: var(--spacing-2);
        }
    }

    blockquote {
        margin: 0;
        margin: var(--spacing-2) 0;
        padding: var(--spacing-3);
        border-left: 4px solid var(--main-color);
        background-color: var(--main-color-light);
        border-radius: var(--border-radius-sm);
    }

    li {
        margin-bottom: var(--spacing);
    }

    a {
        color: var(--main-link-color);
        font-weight: bold;
    }

    em {
        color: var(--gray-600);
    }
}

body>footer {
    grid-area: f;
    padding: var(--spacing);
    margin-top: var(--spacing-4);
    background-color: var(--gray-800);
    color: var(--white);
    text-align: center;
    font-size: var(--font-size-small);
    margin-left: calc(var(--spacing) * -1);
    margin-right: calc(var(--spacing) * -1);
    a {
        color: var(--white);
        &:focus-visible {
            outline-color: var(--white);
        }
    }
    @media screen and (width > $tablet-breakpoint) {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        margin-left: 0;
        margin-right: 0;
    }
}