body > nav {
    grid-area: n;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: var(--spacing);
    
    > ol {
        --scroll-bar-width: .25rem;
        margin: 0;
        position: sticky;
        top: 5rem;
        padding: var(--spacing);
        max-height: calc(100vh - 5rem - var(--spacing));
        overflow: auto;
        list-style: none;
        background-color: var(--main-color-navbar);
        border-radius: var(--border-radius);
        li {
            line-height: 1.2;
        }
        a {
            --nav-bg-color: transparent;
            --nav-color: var(--main-color-navbar-inverse);
            display: block;
            padding: calc(var(--spacing) / 2) var(--spacing-2);
            margin-bottom: var(--spacing);
            border-radius: var(--border-radius-sm);
            text-decoration: none;
            background-color: var(--nav-bg-color);
            color: var(--nav-color);
            transition: background-color var(--transition), color var(--transition);
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                --nav-bg-color: var(--main-color);
                --nav-color: var(--main-color-inverse);
            }
        }
        ol {
            list-style: none;
            padding-left: var(--spacing-3);
            > li {
                > a {
                    font-size: .875em;
                }
            }
        }
    }
    @media screen and (width <= $tablet-breakpoint) {
        display: none;
    }
}
